<!DOCTYPE html>
<html>
<head>
    <style>
        .button {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 6px 10px;
          text-align: center;
          float: right;
          border-radius: 5px;
          text-decoration: none;
          display: inline-block;
          font-size: 12px;
          margin: 4px 20px;
          cursor: pointer;
        }
        .button1 {
          background-color: rgb(22, 148, 197);
          border: none;
          color: white;
          padding: 6px 10px;
          text-align: center;
          float: right;
          border-radius: 5px;
          text-decoration: none;
          display: inline-block;
          font-size: 18px;
          margin: 4px 20px;
          cursor: pointer;
        }
        </style>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Visit Automation | Settings</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="  index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>V</b>A</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Visit</b>Automation</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->


          <!-- User Account: style can be found in dropdown.less -->
          
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">

          <div class="pull-left image">
            <img src="dist/img/default_user.png" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
            <p><%=user.username%></p>
            <a href="#"> Admin</a>
          </div>
        </div>
      <!-- search form -->

      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header"><b>MAIN NAVIGATION</b></li>

        <li><a href="/compown"><i class="fa fa-dashboard"></i><span>Dashboard </span></a></li>
        <li><a href="/compown/grp"><i class="fa fa-group"></i><span> Group List</span></a></li>
        <li><a href="/compown/user"><i class="glyphicon glyphicon-user"></i><span>User List</span></a></li>
        <li><a href="/compown/contacts"><i class="glyphicon glyphicon-earphone"></i> <span> Contacts</span></a></li>
        <li><a href="/compown/template"><i class="glyphicon glyphicon-th-list"></i> <span> Template List</span></a></li>

        <li><a href="/compown/settings"><i class="fa fa-gear"></i><span> Settings</span></a></li>

        <li><a href="/login/logout"><i class="glyphicon glyphicon-log-out"></i> <span> Log Out</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Company Settings</h1>
    
    </section>
    <style>
      input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
    </style>
    <!-- Main content -->
    <section class="content">
      <%if(error){%>
        <div class="alert alert-danger" role="alert">
          <%=error%>
        </div>
      <%}%>
      <div class="row">
                    <!-- left column -->
                    <div class="col-md-6">
                      <!-- general form elements -->
                      <div class="box box-primary">
                        <div class="box-header with-border">
                          <h3 class="box-title">Mail Settings</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form role="form" method="post" action="">
                          <div class="box-body">
                            <h4>SMTP settings</h4>
                            <%if(smtp){%>
                              <div class="form-group">
                              <label for="smtpusername">SMTP username:</label>
                              <input required type="text" name="smtpusername" id="smtpusername"class="form-control" value="<%=smtp.auth.user%>">
                            </div>
                            <div class="form-group">
                                <label for="smtppassword">SMTP password:</label>
                                <input required type="password" name="smtppassword" id="smtppassword"class="form-control" value="<%=smtp.auth.pass%>">
                            </div>
                            <div class="form-group">
                                <label for="smtpaddress">SMTP Server address:</label>
                                <input required type="text" name="smtpaddress" id="smtpaddress"class="form-control" value="<%=smtp.host%>">
                            </div>
                            <div class="form-group">
                                <label for="smtpport">SMTP port:</label>
                                <input required type="number" name="smtpport" id="smtpport"class="form-control" value="<%=smtp.port%>">
                            </div>
                            <div class="form-group">
                                <label for="smtp-secure">Require TLS/SSL:</label>
                                <div class="form-check form-check-inline">
                                    <input <%if(smtp.secure){%> checked="" <%}%>class="form-check-input" type="radio" name="smtpsecure" id="smtp-secure-true" value="true">
                                    <label class="form-check-label" for="inlineRadio1">Yes</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input <%if(!smtp.secure){%> checked="" <%}%> class="form-check-input" type="radio" name="smtpsecure" id="smtp-secure-false" value="false">
                                    <label class="form-check-label" for="inlineRadio2" >No</label>
                                  </div>
                            </div>
                            <%}else{%>
                              <div class="form-group">
                                  <label for="smtpusername">SMTP username:</label>
                                  <input required type="text" name="smtpusername" id="smtpusername"class="form-control" >
                                </div>
                                <div class="form-group">
                                    <label for="smtppassword">SMTP password:</label>
                                    <input required type="password" name="smtppassword" id="smtppassword"class="form-control" >
                                </div>
                                <div class="form-group">
                                    <label for="smtpaddress">SMTP Server address:</label>
                                    <input required type="text" name="smtpaddress" id="smtpaddress"class="form-control" >
                                </div>
                                <div class="form-group">
                                    <label for="smtpport">SMTP port:</label>
                                    <input required type="number" name="smtpport" id="smtpport"class="form-control" >
                                </div>
                                <div class="form-group">
                                    <label for="smtp-secure">Require TLS/SSL:</label>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="smtpsecure" id="smtp-secure-true" value="true">
                                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="smtpsecure" id="smtp-secure-false" value="false">
                                        <label class="form-check-label" for="inlineRadio2" >No</label>
                                      </div>
                                </div>
                              <%}%>
                          </div>
                          
                          <button type="submit" style="margin: 10px" class="btn btn-primary">Submit</button>
                          
                          
                        </form>
                      </div>
        
          
        </div>
        <!-- /.col -->
        <div class="col-md-6">
            <div class="box box-solid">
              <div class="box-header with-border">
  
                <h3 class="box-title">Gmail Setting</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                  <div class="social-auth-links text-center">
                      <p>- OR -</p>
                    
                      <% if(!user.gmail.refreshToken){%>
                        <a href="/login/google" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> <center>
                          Using
                          Google</center></a>
                    
                         <% }else{ %>
                          <button disabled class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> <center>
                            Using
                            Google</center>
  
                          </button>
                        
                            <%}%>
                    </div>
                <p class="text-green">Use you Gmail account to send mail via gmail smtp server</p>
  
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src=" bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src=" bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src=" bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src=" bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src=" bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src=" bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src=" dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src=" dist/js/demo.js"></script>
<!-- page script -->
<script>
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>
</body>
</html>
