<!DOCTYPE html>
<html>
<head>
    <style>
        .button {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 6px 10px;
          text-align: center;
          float: right;
          border-radius: 5px;
          text-decoration: none;
          display: inline-block;
          font-size: 12px;
          margin: 4px 20px;
          cursor: pointer;
        }
        .button1 {
          background-color: rgb(22, 148, 197);
          border: none;
          color: white;
          padding: 6px 10px;
          text-align: center;
          float: right;
          border-radius: 5px;
          text-decoration: none;
          display: inline-block;
          font-size: 18px;
          margin: 4px 20px;
          cursor: pointer;
        }
        </style>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Data Tables</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="../bower_components/Ionicons/css/ionicons.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="../bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="../dist/css/skins/_all-skins.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="../../index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>V</b>A</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Visit</b>Automation</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->


          <!-- User Account: style can be found in dropdown.less -->
          
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">

          <div class="pull-left image">
            <img src="../dist/img/default_user.png" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
            <p><%=user.username%></p>
            <a href="#"> Admin</a>
          </div>
        </div>
      <!-- search form -->

      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header"><b>MAIN NAVIGATION</b></li>

        <li><a href="/compown"><i class="fa fa-dashboard"></i><span>Dashboard </span></a></li>
        <li><a href="/compown/grp"><i class="fa fa-group"></i><span> Group List</span></a></li>
        <li><a href="/compown/user"><i class="glyphicon glyphicon-user"></i><span>User List</span></a></li>
        <li><a href="/compown/contacts"><i class="glyphicon glyphicon-earphone"></i> <span> Contacts</span></a></li>
        <li><a href="/compown/template"><i class="glyphicon glyphicon-th-list"></i> <span> Template List</span></a></li>

        <li><a href="/compown/settings"><i class="fa fa-gear"></i><span> Settings</span></a></li>

        <li><a href="/login/logout"><i class="glyphicon glyphicon-log-out"></i> <span> Log Out</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        
      </h1>
    
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">

            <!-- /.box-header -->
            <div class="box">
              <div class="box-header">
                  <h3 class="box-title"><%= data.name%></h3>

          <!-- /.box -->
          <%if(data.name!="default_template"){%>
                

            <a href="/compown/<%=data._id%>/edit_template" class="button1" >Edit template</a>

            <%}
            else
            {%>

            <%}%>

              </div> 
            <!-- /.box-header -->
            <div class="box-body">
                    <%if(data){%>
                          <div class="box-body">
                              <div class="form-group">
                                <label for="exampleInputEmail1">Subject: <%=data.subject%></label>
                              </div>
                            </div>
                          <textarea id="template" name="template" rows="10" cols="80">
                              <%=data.template%>
      </textarea>
                            <%}%> 
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  

  <!-- Control Sidebar -->
 
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="../bower_components/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.7 -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Morris.js charts -->
    <script src="../bower_components/raphael/raphael.min.js"></script>
    <script src="../bower_components/morris.js/morris.min.js"></script>
    <!-- Sparkline -->
    <script src="../bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="../plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="../plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="../bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="../bower_components/moment/min/moment.min.js"></script>
    <script src="../bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- datepicker -->
    <script src="../bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="../plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->

    <script src="../bower_components/ckeditor/ckeditor.js"></script>

    <script src="../bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="../bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="../dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../dist/js/demo.js"></script>
    <script>
      $(function () {
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('template')
        CKEDITOR.config.readOnly = true;

        //bootstrap WYSIHTML5 - text editor
        $('.textarea').wysihtml5()
      })
    </script> 
</body>
</html>
