<!DOCTYPE html>
<html>
<head>
    <style>
        .button {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 6px 10px;
          text-align: center;
          float: right;
          border-radius: 5px;
          text-decoration: none;
          display: inline-block;
          font-size: 12px;
          margin: 4px 20px;
          cursor: pointer;
        }
        .button1 {
          background-color: rgb(22, 148, 197);
          border: none;
          color: white;
          padding: 6px 10px;
          text-align: center;
          float: right;
          border-radius: 5px;
          text-decoration: none;
          display: inline-block;
          font-size: 18px;
          margin: 4px 20px;
          cursor: pointer;
        }
        </style>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Data Tables</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="../bower_components/Ionicons/css/ionicons.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="../bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="../dist/css/skins/_all-skins.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <header class="main-header">
    <!-- Logo -->
    <a href="../../index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>V</b>A</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Visit</b>Automation</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->


          <!-- User Account: style can be found in dropdown.less -->
          
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">

          <div class="pull-left image">
            <img src="../dist/img/default_user.png" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
            <p><%=user.username%></p>
            <a href="#"> Admin</a>
          </div>
        </div>
      <!-- search form -->

      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header"><b>MAIN NAVIGATION</b></li>

        <li><a href="/compown"><i class="fa fa-dashboard"></i><span>Dashboard </span></a></li>
        <li><a href="/compown/grp"><i class="fa fa-group"></i><span> Group List</span></a></li>
        <li><a href="/compown/user"><i class="glyphicon glyphicon-user"></i><span>User List</span></a></li>
        <li><a href="/compown/contacts"><i class="glyphicon glyphicon-earphone"></i> <span> Contacts</span></a></li>
        <li><a href="/compown/template"><i class="glyphicon glyphicon-th-list"></i> <span> Template List</span></a></li>

        <li><a href="/compown/settings"><i class="fa fa-gear"></i><span> Settings</span></a></li>

        <li><a href="/login/logout"><i class="glyphicon glyphicon-log-out"></i> <span> Log Out</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1><% if(grp_name){ %>
            <%= grp_name %> > Upload Contacts
        <% } %>
</h1>
        
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
                    <!-- left column -->
                    <div class="col-md-6">
                      <!-- general form elements -->
                      <div class="box box-primary">
                       
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form role="form" class="fileupload" action="/compown/<%= group_id %>/uploadcsv" method="POST" enctype="multipart/form-data">
                          <div class="box-body">
                                    <label for="exampleInputFile">File input</label>
                          </div>
                          <div class="box-body">
                              <input type="file" name="upfile" value="" accept=".csv"/>

                            </div>
                          <!-- /.box-body -->

                          <div class="box-footer"><br>
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                        </form>
                      </div>
        
          
        </div>
        <!-- /.col -->

        
      </div>
      <div class="row">

          <div class="col-md-12">
              <div class="box box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">Example</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    
                    <div class="carousel-inner">
                      <div class="item active">
                        <center><img src="../dist/img/Capture.png" alt="First slide"></center>
    
                        
                      </div>
                      </div>
                    </div>
                    
                    <div class="box-body">

                   <h4> 
                     As shown in the above given example table header must include any of the following values with correct spelling :-
                     <br><br><b>&emsp;&emsp;- company_name</b>
                     <br><br><b>&emsp;&emsp;- name</b>
                     <br><br><b>&emsp;&emsp;- phone_no</b>
                     <br><br><b>&emsp;&emsp;- email</b>
                     <br><br><b>&emsp;&emsp;- website</b>
                     <br><br><b>&emsp;&emsp;- designation</b>
                     <br><br>
                     Note:- Enter valid email addresses 

                   </h4>
                    </div>
                  </div>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
        
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
<!-- jQuery 3 -->
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="../bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="../bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../dist/js/demo.js"></script>
<!-- page script -->
<script>
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>
</body>
</html>
